<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.voicekeep.analyzer</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-i</string>
        <string>/usr/bin/env</string>
        <string>python3</string>
        <string>__SERVER_PATH__</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__LAUNCHD_LOG__</string>

    <key>StandardErrorPath</key>
    <string>__LAUNCHD_LOG__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>VOICEKEEP_TOKEN</key>
        <string>__TOKEN__</string>
        <key>VOICEKEEP_PORT</key>
        <string>__PORT__</string>
    </dict>
</dict>
</plist>
